# Python cache files
pycache/
*.pyc
*.pyo
*.pyd

# Environment variables file
.env

# Virtual environment folders
venv/
env/
.venv/
discvenv/
.discvenv/
discordboy.egg-info/

# Data files
*.parquet
*.csv
*.json
*.db

# Test files
playground.ipynb
tests/playground.ipynb
